.DS_Store
.pytest_cache
__pycache__
dist/
lib/
.env
assets/*
.idea
test/
old_en.json
test.py
*.pkl
temp/*
.vscode/*
.codesight
.mypy_cache
.ruff_cache
.venv
node_modules/*
# all node_modules
src/webapp/node_modules/*
